h3{
	text-align: center;
	color: black;
}

table{
   width:100%;
   margin-left:auto;
   margin-right:auto;
	color: black;
   border-collapse:collapse;
   font-size:11px;
}

td{
   border:1px solid #5B92C8;
   word-wrap:break-word;
   vertical-align:top;
   font-size:11px;
   padding:0px;
}

.grid_odd_row{
	background-color: whitesmoke;
   color:black;
}

.grid_even_row{
	background-color: white;
   color:gray;
}
/*
.grid_row_1,.grid_row_2,.grid_row_5,.grid_row_6{
	background-color: yellow;
}
*/
.grid_even_column{
}

.grid_header{
	color: black;
	background-color: silver;
	font-weight: bold;
   border:1px solid #5B92C8;
}
