config.php
db_config.php
*.log
js/dojo-yape/
js/dojo-release/
lib/
modules.php
permission.php
.DS_Store
js/dojo-custom-build/dojo-release-*
._.DS_Store
classes/.fuse_hidden000000820000000a
img/._.DS_Store
js/._.DS_Store
js/dojo-release
mod
img/itic*
img/sl*
