<?php
/*
Enable modules by adding them to the array
course   degree_programs  eligibility  exam  home  mcq  migrate   report   student  system  user
*/
$GLOBALS['MODULES']=array(
   "home"     =>"Home",
   "system"   =>"System",
   "doc"      =>"Documents",
   "sample"   =>array('MODULE'=>"Sample Module",'VISIBLE'=>'true'),
);

?>
