<?php
/*
Enable modules by adding them to the array
course   degree_programs  eligibility  exam  home  mcq  migrate   report   student  system  user
*/
$modules=array(
   "home"             =>"Home",
   "system"          =>"System",
   //"doc"               =>"Documents",
   //"payment"         =>array('MODULE'=>"Payment Broker",'VISIBLE'=>'true'),
   //"verify"            =>"Certificate Verify",
   //"registration_conv"      =>"Convocation Registration",
   //"attendance"      =>"Attendance",
   //"registration_pg"   =>"Postgraduate Application",
   //"donations"         =>"Donations",
   //"aptitude_test"   =>"Aptitude Tests",
   
   "degree_programs"   =>"Programs",
   "student"         =>"Students",
   "course"            =>"Courses",
   "exam"            =>"Exam",
   "mcq"               =>"MCQ",
   "migrate"         =>"Migrate",
   "eligibility"      =>"Eligibility",
   "report"            =>"Report"
);

?>
