@CHARSET "UTF-8";

/*Overall styling*/
* {
   font-size: 11px;
}

/* Default input style */
input {
   font-size: 11px;
}

/*Default table header style*/
th {
   background: silver;
   padding: 5px;
}

.menu li,.form_ul li {
   display: inline;
   background-color: #eee;
   border: 1px solid;
   border-color: #f3f3f3 #bbb #bbb #f3f3f3;
   padding: .5em;
   zoom: 1;
}

.menu a {
   text-decoration: none;
   color: black;
}

/*------------------------COLUMN STYLES-------------------------*/
   /*Combined style*/
.index_no,.paper,.assignment,.push {
   width: 100%;
   border: 0px;
}

/*Style for the serial-number column*/
.serial_no {
   background: silver;
   text-align: center;
}

/*Style for the SUGGESTION column*/
.suggession {
   background: #a9D7F1;
}

/*Style for the FINAL column*/
.final {
   background: #C9D7F1;
}

/*Style for the GRADE clumn*/
.grade {
   background: #C9D7F1;
}

/*Style for GPV column*/
.gpv {
   background: #C9D7F1;
}

/*Style for PUSH column*/
.push {
   width: 30px;
   visibility: hidden;
}

/*Show catchy message to the user*/
#msg {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 100px;
}

#message {
   z-index: 1;
   background-color: yellow;
   border: 1px solid red;
   border-top: 0px;
   min-width: 100px;
   padding: 5px;
   position: fixed;
   top: 0px;
   -moz-border-radius-bottomleft: 5px;
   -moz-border-radius-bottomright: 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

/*------------------------PAGE STYLES----------------------------*/
   /*Style for ratio text boxes*/
.ratio {
   
}

/*shadows for the boxes*/
.shadow {
   -moz-background-clip: border;
   -moz-background-inline-policy: continuous;
   -moz-background-origin: padding;
   -moz-box-shadow: 0 4px 8px #C8C8C8;
   background: #FFFFFF none repeat scroll 0 0;
   /*None mozilla*/
   -webkit-box-shadow: #C8C8C8 0px 4px 8px;
   -webkit-box-shadow: #C8C8C8 0px 4px 8px;
   /*None mozilla*/
}

/*rounder corners for the boxes*/
.round,.ratio,#page,fieldset,.menu {
   -moz-border-radius-bottomleft: 5px;
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
}

/*div tag covering total page with a border */
#page {
   width: 650px;
   min-height:450px;
   height: 98%;
   border: 1px solid black;
   background-color: whitesmoke;
   margin-bottom: 10;
   position: relative;
   margin-left: auto;
   margin-right: auto;
}

#table_header {
   position: fixed;
   margin-left: 19;
   border-collapse: collapse;
   border: 1px solid black;
   font-size: 11px;
}

#spreadsheet{
   overflow: auto;
   min-height:300px;
   height:70%;
}


/*Status bar div at the bottom of the page*/
#status_bar {
   position: absolute;
   border: 1px inset;
   bottom:1px;
   left: 1px;
   width: 99%;
   height: 12px;
   font-size: 10px;
   -moz-border-radius-bottomleft: 5px;
   -moz-border-radius-bottomright: 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   text-align: left;
   padding: 2px;
   overflow: hidden;
}
